CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
venv
.cache
.idea
.clion.source.upload.marker
#tmp
pies/__pycache__/
#play
#try.cbp
testing
#io/means_test
#io/points_test
#io/points
#io/means
#io/random_means
#io/leftover
#io/chosen
